@import '00-vendor/index.vendor';
@import '01-config/index.config';
@import '02-tools/index.tools';
@import '03-base/index.base';
@import '04-patterns/index.patterns';
@import '05-components/index.components';

.main {
  flex: 1;
  padding: 4rem 0;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  transform: scaleX(-1);
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-size: 4rem;
  line-height: 1.15;
  margin: 0;
}

.title,
.description {
  text-align: center;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 4rem 0;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  font-size: 1.1rem;
  padding: 0.75rem;
}

.toggleViewButton {
}

.company {
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .grid {
    flex-direction: column;
    width: 100%;
  }
}
